.account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    background-color: rgb(61, 61, 61);
    padding: 20px 15px;
    border-radius: 5px;
    cursor: pointer;
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        .account-id {
            font-size: 18px;
        }
        .account-balance {
            font-size: 28px;
        }
        .account-subtitle {
            font-size: 12px;
        }
    }
    .chevron {
        font-size: 70px;
        color: #fff;
    }
}

.transaction-container {
    margin: 50px 0 0;
    .transaction-header {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 100%;
        padding: 0 15px;
        color: #fff;
        p {
            &:nth-child(1) {
                width: 20%;
            }
            &:nth-child(2) {
                width: 55%;
            }
            &:nth-child(3) {
                width: 10%;
            }
        }
    }
    .transaction {
        display: flex;
        flex-direction: row;
        padding: 8px 10px;
        border-radius: 5px;
        margin: 10px 0px 0px 0px;
        color: #fff;
        background: #00bc77;
        cursor: pointer;
        p {
            &:nth-child(1) {
                width: 20%;
            }
            &:nth-child(2) {
                width: 55%;
            }
            &:nth-child(3) {
                width: 10%;
            }
            &:nth-child(4) {
                width: 15%;
            }
        }
    }
    .transaction-info {
        position: relative;
        top: -3px;
        background: #00bc77;
        color: #fff;
        display: flex;
        flex-direction: row;
        padding: 10px 0 10px 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        gap: 60px;
        .item-type,
        .item-info {
            p {
                margin-bottom: 5px;
            }
            .edit-transac {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
                i {
                    cursor: pointer;
                }
                .fa-xmark {
                    color: hsl(0, 86%, 43%);
                }

                .edit-input {
                    outline: none;
                    background: none;
                    border: none;
                    border-bottom: 1px solid #fff;
                    color: #fff;
                    font-size: 16px;
                }
            }
        }

        .fa-pencil {
            margin-left: 10px;
            font-size: 14px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 958px) {
    .account {
        width: 100%;
        gap: 48px;
        &-content {
            gap: 5px;
            .account-id {
                font-size: 16px;
            }
            .account-balance {
                font-size: 24px;
            }
            .account-subtitle {
                font-size: 10px;
            }
        }
        .chevron {
            font-size: 50px;
            color: #fff;
        }
    }
    .transaction-container {
        .transaction-header {
            p {
                font-size: 10px;
                &:nth-child(1) {
                    width: 20%;
                }
                &:nth-child(2) {
                    width: 40%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
            }
        }
        .transaction {
            p {
                font-size: 12px;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                &:nth-child(1) {
                    width: 30%;
                }
                &:nth-child(2) {
                    width: 35%;
                }
                &:nth-child(3) {
                    width: 20%;
                }
                &:nth-child(4) {
                    width: 20%;
                }
            }
        }
        .transaction-info {
            width: 100%;
            padding-right: 20px;
            gap: 5px;
            .item-type {
                width: 40%;
            }
            .item-type,
            .item-info {
                p {
                    font-size: 12px;
                }
                .edit-transac {
                    gap: 10px;
                    .edit-input {
                        outline: none;
                        background: none;
                        border: none;
                        border-bottom: 1px solid #fff;
                        color: #fff;
                        font-size: 12px;
                        width: 90%;
                    }
                }
            }

            .fa-pencil {
                margin-left: 10px;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}
